<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        android:maxSdkVersion="27" />

    <queries>
        <package android:name="com.tridev.smartsmspro" />
        <package android:name="com.tridev.familyhub" />
        <package android:name="com.tridev.loanmanagerpro" />
    </queries>

    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Money Manager Pro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyManagerPro">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <provider
            android:name=".TridevFinanceEventProvider"
            android:authorities="com.example.moneymanagerpro.tridev.finance"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".TridevLoanFinanceProvider"
            android:authorities="com.example.moneymanagerpro.tridev.loanfinance"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".TridevCompanionFinanceProvider"
            android:authorities="com.example.moneymanagerpro.tridev.companion"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".TridevFamilyHubEditProvider"
            android:authorities="com.example.moneymanagerpro.tridev.familyhubedit"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".TridevLoanPaymentMutationProvider"
            android:authorities="com.example.moneymanagerpro.tridev.loanmutation"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".TridevCompanionAccountAnalyticsProvider"
            android:authorities="com.example.moneymanagerpro.tridev.accountanalytics"
            android:exported="true"
            android:grantUriPermissions="false" />

        <provider
            android:name=".account.CreditCardAccountSyncInitializer"
            android:authorities="${applicationId}.credit_card_account_sync_initializer"
            android:exported="false"
            android:initOrder="150" />

        <provider
            android:name=".pro.ProUpgradeInitializer"
            android:authorities="${applicationId}.pro_upgrade_initializer"
            android:exported="false"
            android:initOrder="149" />

        <provider
            android:name=".ui.GlobalSignedFinanceColorInitializer"
            android:authorities="${applicationId}.global_signed_finance_colors"
            android:exported="false"
            android:initOrder="142" />

        <provider
            android:name=".ui.VisibleDataToolsInitializer"
            android:authorities="${applicationId}.visible_data_tools"
            android:exported="false"
            android:initOrder="141" />

        <provider
            android:name=".ui.FinanceProSuiteInitializer"
            android:authorities="${applicationId}.finance_pro_suite_initializer"
            android:exported="false"
            android:initOrder="140" />

        <provider
            android:name=".widget.WidgetDataSyncInitializer"
            android:authorities="${applicationId}.widget_data_sync"
            android:exported="false"
            android:initOrder="139" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.report_files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/report_file_paths" />
        </provider>

        <provider
            android:name=".ui.MoreToolsNavigationInitializer"
            android:authorities="${applicationId}.more_tools_navigation_initializer"
            android:exported="false"
            android:initOrder="130" />

        <provider
            android:name=".ui.PinUiInitializer"
            android:authorities="${applicationId}.pin_ui_initializer"
            android:exported="false"
            android:initOrder="120" />

        <provider
            android:name=".cloud.CloudDeleteActionsInitializer"
            android:authorities="${applicationId}.cloud_delete_initializer"
            android:exported="false"
            android:initOrder="100" />

        <provider
            android:name=".budget.AiBudgetPlannerInitializer"
            android:authorities="${applicationId}.ai_budget_planner_initializer"
            android:exported="false"
            android:initOrder="90" />

        <activity android:name=".activities.FinanceIntelligenceHubActivity" android:exported="false" />
        <activity android:name=".activities.AdvancedFinanceDataActivity" android:exported="false" />
        <activity android:name=".activities.UserProfileActivity" android:exported="false" />
        <activity android:name=".activities.AuthenticationActivity" android:exported="false" />
        <activity android:name=".activities.HelpActivity" android:exported="false" />
        <activity android:name=".activities.CsvImportActivity" android:exported="false" />
        <activity android:name=".activities.ReceiptGalleryActivity" android:exported="false" />
        <activity android:name=".activities.FinanceAdvisorActivity" android:exported="false" />
        <activity android:name=".activities.ChartsActivity" android:exported="false" />
        <activity android:name=".activities.AnalyticsActivity" android:exported="false" />
        <activity android:name=".activities.ReportActivity" android:exported="false" />
        <activity android:name=".activities.CreditCardActivity" android:exported="false" />
        <activity android:name=".activities.SubscriptionActivity" android:exported="false" />
        <activity android:name=".activities.CalendarActivity" android:exported="false" />
        <activity android:name=".activities.MoreFeaturesActivity" android:exported="false" />
        <activity android:name=".activities.SmartGoalDebtPlannerActivity" android:exported="false" />
        <activity android:name=".activities.LoanActivity" android:exported="false" />
        <activity android:name=".activities.BudgetActivity" android:exported="false" />
        <activity android:name=".activities.RecurringActivity" android:exported="false" />
        <activity android:name=".activities.GoalActivity" android:exported="false" />
        <activity android:name=".activities.InvestmentActivity" android:exported="false" />
        <activity android:name=".activities.BackupActivity" android:exported="false" />
        <activity android:name=".activities.ExportActivity" android:exported="false" />
        <activity android:name=".activities.SettingsActivity" android:exported="false" />
        <activity android:name=".activities.PinActivity" android:exported="false" />
        <activity android:name=".activities.TransferActivity" android:exported="false" />
        <activity android:name=".activities.AccountActivity" android:exported="false" />
        <activity android:name=".activities.EditTransactionActivity" android:exported="false" />
        <activity android:name=".activities.TransactionsActivity" android:exported="false" />
        <activity android:name=".activities.CategoryActivity" android:exported="false" />
        <activity android:name=".activities.AddExpenseActivity" android:exported="false" />
        <activity android:name=".activities.AddIncomeActivity" android:exported="false" />
        <activity android:name=".activities.DashboardActivity" android:exported="false" />
        <activity android:name=".activities.SmartSmsTransactionReviewActivity" android:exported="false" />
        <activity android:name=".activities.SpecialReconciliationActivity" android:exported="false" />
        <activity android:name=".activities.IntegrationCloudRecoveryActivity" android:exported="false" />

        <receiver
            android:name=".widget.FinanceWidgetProvider"
            android:exported="true"
            android:label="@string/widget_finance_summary_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/finance_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.QuickActionsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_quick_actions_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_actions_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.DueReminderWidgetProvider"
            android:exported="true"
            android:label="@string/widget_due_reminder_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/due_reminder_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.MonthlySnapshotWidgetProvider"
            android:exported="true"
            android:label="@string/widget_monthly_snapshot_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/monthly_snapshot_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.CompactBalanceWidgetProvider"
            android:exported="true"
            android:label="@string/widget_compact_balance_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/compact_balance_widget_info" />
        </receiver>

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
